@import "tailwindcss";

@theme {
    --color-primary: "#E7FAFE";
    --color-secondary: "#000000";

    --breakpoint-2xl: initial;
}

@layer base {
    button {
        @apply cursor-pointer;
    }
}

@layer utilities {
    .container-base {
        @apply container mx-auto max-xl:px-6;
    }
}
